@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Noto+Serif+Dives+Akuru&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: rgb(2, 7, 100);
    font-family: "Poppins";
}

h1, h2, h3, a {
    font-family: "Audiowide";
}

h1 {
    color: darkblue;
    text-align: center;
    border: 4px aqua solid;
    border-radius: 10px;
    background-color: rgb(14, 204, 237);
    font-size: 55px;
}

img {
    width: 1000px;
    border-radius: 5px;
}

li {
    color: rgb(14, 204, 237);
}