body {
    background-color: lightblue;
}

h1 {
    font-style: italic;
    color: darkblue;
    text-align: center;
    border: 4px aqua solid;
    border-radius: 10px;
    background-color: red;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
