body {
    background-color: rgb(2, 7, 100);
}

h1 {
    font-style: italic;
    color: darkblue;
    text-align: center;
    border: 4px aqua solid;
    border-radius: 10px;
    background-color: rgb(14,204, 237);
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.main img {
    filter: drop-shadow(7px 9px 10px white);
}

a {
    color: rgb(14,204,237);
}

img {
    width: auto;
    height: auto;
}
